@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0px;
  font-family: "Frijole";
}

.index_page {
  padding: 6em;
  background-color: rgb(46, 40, 41);
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  width: 100%;
  text-align: center;
}
.gameName {
  font-size: 3em;
  color: rgba(241, 163, 36, 0.973);
  text-shadow: 5px 5px 10px red;
}

.buttons_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.buttons_container > .btn {
  background-color: rgba(241, 162, 36, 0.966);
  color: rgb(224, 42, 10);
  border-radius: 2em;
  width: 20%;
  font-size: 1em;
  text-align: center;
  padding: 1.3em;
  line-height: 1em;
  margin: 1.3em;
  box-shadow: 0 4px 8px 0 rgba(226, 14, 14, 0.767);
}
 a {
  text-decoration: none;
  color: rgb(224, 42, 10);
}
a:hover {
  color: rgb(223, 210, 207);
}

/* Responsive  style for devices with width 830px (or less) and with landscape orientation */

@media only screen and (max-width: 830px) and (orientation: landscape) {
  .gameName {
    font-size: 2em;
  }
  .buttons_container > .btn {
    width: 25%;
    font-size: 0.6em;
  }
}

/* level1.html styles*/

.level1_page {
  padding: 0.3em;
  background-color: rgb(46, 40, 41);
  height: 100vh;
  background-image: url("../images/image2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top_nav {
  background-color: rgba(12, 9, 6, 0.589);
  color: rgba(241, 163, 36, 0.973);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0;
}
#countdown{
  font-size: large;
}
#bottom_nav {
  background-color: rgba(12, 9, 6, 0.589);
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0;
}

#bottom_nav.btn a {
  text-decoration: none;
  color: rgb(44, 40, 39);
  margin: 10px;
}

.question_box ,.result_box, .howToPlayList{
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-family: "Syne Mono";
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 2; */
  width: 60%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_tracker{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  color: rgba(241, 163, 36, 0.973);
}
.answers_container {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.answer  {
  width: 100px;
  font-size: x-large;
  border: 2px dotted #f1f1f1;
}
.nextLevel{
  width: 30%;
  height: 100%;
  border: 2px double rgba(241, 163, 36, 0.973);
  border-radius: 2em;

}

.answer:hover , .nextLevel:hover{
  color: rgba(241, 163, 36, 0.973);
}

/* show effects for the correct/ wrong answers */

.correctClass{
  box-shadow: 0 4px 8px 0 rgba(14, 226, 109, 0.767);
}

.wrongClass{
  box-shadow: 0 4px 8px 0 rgba(226, 39, 14, 0.767);
}


/* endLevel.html Styles */
.endLevel_page {
  padding: 0.3em;
  background-color: rgb(46, 40, 41);
  height: 100vh;
  background-image: url("../images/antoine-lamoureux-pikeplacemarket-large-items.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}


i {
  color: rgba(241, 163, 36, 0.973);
  font-size: xx-large;
}


/* HowToPlay_page */

.HowToPlay_page{
  padding: 0.3em;
  background-color: rgb(46, 40, 41);
  height: 100vh;
  background-image: url("../images/howtoplayBc.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

ul li{
  font-size: small;
  line-height: 2em;
  text-align: left;
}

h6 i{
  color: #f1f1f1;
  font-size: small;
  margin: 1em;
}


/* level2.html styles*/

.level2_page {
  padding: 0.3em;
  background-color: rgb(46, 40, 41);
  height: 100vh;
  background-image: url("../images/image3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* level3.html styles */
.level3_page{
  padding: 0.3em;
  background-color: rgb(46, 40, 41);
  height: 100vh;
  background-image: url("../images/level3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* gameOver.html style */

.gameOver_page{
  padding: 0.3em;
  background-color: rgb(46, 40, 41);
  height: 100vh;
  background-image: url("../images/gameOver.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}